node_modules/.package-lock.json
node_modules/.bin/cowsay
node_modules/.bin/cowsay.cmd
node_modules/.bin/cowsay.ps1
node_modules/.bin/cowthink
node_modules/.bin/cowthink.cmd
node_modules/.bin/cowthink.ps1
node_modules/ansi-regex/index.js
node_modules/ansi-regex/license
node_modules/ansi-regex/package.json
node_modules/ansi-regex/readme.md
node_modules/ansi-styles/index.d.ts
node_modules/ansi-styles/index.js
node_modules/ansi-styles/license
node_modules/ansi-styles/package.json
node_modules/ansi-styles/readme.md
node_modules/camelcase/index.d.ts
node_modules/camelcase/index.js
node_modules/camelcase/license
node_modules/camelcase/package.json
node_modules/camelcase/readme.md
node_modules/cliui/CHANGELOG.md
node_modules/cliui/index.js
node_modules/cliui/LICENSE.txt
node_modules/cliui/package.json
node_modules/cliui/README.md
node_modules/cliui/node_modules/ansi-regex/index.d.ts
node_modules/cliui/node_modules/ansi-regex/index.js
node_modules/cliui/node_modules/ansi-regex/license
node_modules/cliui/node_modules/ansi-regex/package.json
node_modules/cliui/node_modules/ansi-regex/readme.md
node_modules/cliui/node_modules/is-fullwidth-code-point/index.d.ts
node_modules/cliui/node_modules/is-fullwidth-code-point/index.js
node_modules/cliui/node_modules/is-fullwidth-code-point/license
node_modules/cliui/node_modules/is-fullwidth-code-point/package.json
node_modules/cliui/node_modules/is-fullwidth-code-point/readme.md
node_modules/cliui/node_modules/string-width/index.d.ts
node_modules/cliui/node_modules/string-width/index.js
node_modules/cliui/node_modules/string-width/license
node_modules/cliui/node_modules/string-width/package.json
node_modules/cliui/node_modules/string-width/readme.md
node_modules/cliui/node_modules/strip-ansi/index.d.ts
node_modules/cliui/node_modules/strip-ansi/index.js
node_modules/cliui/node_modules/strip-ansi/license
node_modules/cliui/node_modules/strip-ansi/package.json
node_modules/cliui/node_modules/strip-ansi/readme.md
node_modules/color-convert/CHANGELOG.md
node_modules/color-convert/conversions.js
node_modules/color-convert/index.js
node_modules/color-convert/LICENSE
node_modules/color-convert/package.json
node_modules/color-convert/README.md
node_modules/color-convert/route.js
node_modules/color-name/index.js
node_modules/color-name/LICENSE
node_modules/color-name/package.json
node_modules/color-name/README.md
node_modules/cowsay/cli.js
node_modules/cowsay/index.d.ts
node_modules/cowsay/index.js
node_modules/cowsay/LICENSE
node_modules/cowsay/package.json
node_modules/cowsay/README.md
node_modules/cowsay/build/cowsay.es.js
node_modules/cowsay/build/cowsay.umd.js
node_modules/cowsay/cows/ackbar.cow
node_modules/cowsay/cows/aperture-blank.cow
node_modules/cowsay/cows/aperture.cow
node_modules/cowsay/cows/armadillo.cow
node_modules/cowsay/cows/atat.cow
node_modules/cowsay/cows/atom.cow
node_modules/cowsay/cows/awesome-face.cow
node_modules/cowsay/cows/banana.cow
node_modules/cowsay/cows/bearface.cow
node_modules/cowsay/cows/beavis.zen.cow
node_modules/cowsay/cows/bees.cow
node_modules/cowsay/cows/bill-the-cat.cow
node_modules/cowsay/cows/biohazard.cow
node_modules/cowsay/cows/bishop.cow
node_modules/cowsay/cows/black-mesa.cow
node_modules/cowsay/cows/bong.cow
node_modules/cowsay/cows/box.cow
node_modules/cowsay/cows/broken-heart.cow
node_modules/cowsay/cows/bud-frogs.cow
node_modules/cowsay/cows/bunny.cow
node_modules/cowsay/cows/C3PO.cow
node_modules/cowsay/cows/cake-with-candles.cow
node_modules/cowsay/cows/cake.cow
node_modules/cowsay/cows/cat.cow
node_modules/cowsay/cows/cat2.cow
node_modules/cowsay/cows/catfence.cow
node_modules/cowsay/cows/charizardvice.cow
node_modules/cowsay/cows/charlie.cow
node_modules/cowsay/cows/cheese.cow
node_modules/cowsay/cows/chessmen.cow
node_modules/cowsay/cows/chito.cow
node_modules/cowsay/cows/claw-arm.cow
node_modules/cowsay/cows/clippy.cow
node_modules/cowsay/cows/companion-cube.cow
node_modules/cowsay/cows/cower.cow
node_modules/cowsay/cows/cowfee.cow
node_modules/cowsay/cows/cthulhu-mini.cow
node_modules/cowsay/cows/cube.cow
node_modules/cowsay/cows/daemon.cow
node_modules/cowsay/cows/dalek-shooting.cow
node_modules/cowsay/cows/dalek.cow
node_modules/cowsay/cows/default.cow
node_modules/cowsay/cows/docker-whale.cow
node_modules/cowsay/cows/doge.cow
node_modules/cowsay/cows/dolphin.cow
node_modules/cowsay/cows/dragon-and-cow.cow
node_modules/cowsay/cows/dragon.cow
node_modules/cowsay/cows/ebi_furai.cow
node_modules/cowsay/cows/elephant-in-snake.cow
node_modules/cowsay/cows/elephant.cow
node_modules/cowsay/cows/elephant2.cow
node_modules/cowsay/cows/explosion.cow
node_modules/cowsay/cows/eyes.cow
node_modules/cowsay/cows/fat-banana.cow
node_modules/cowsay/cows/fat-cow.cow
node_modules/cowsay/cows/fence.cow
node_modules/cowsay/cows/fire.cow
node_modules/cowsay/cows/flaming-sheep.cow
node_modules/cowsay/cows/fox.cow
node_modules/cowsay/cows/ghost.cow
node_modules/cowsay/cows/ghostbusters.cow
node_modules/cowsay/cows/glados.cow
node_modules/cowsay/cows/goat.cow
node_modules/cowsay/cows/goat2.cow
node_modules/cowsay/cows/golden-eagle.cow
node_modules/cowsay/cows/hand.cow
node_modules/cowsay/cows/happy-whale.cow
node_modules/cowsay/cows/hedgehog.cow
node_modules/cowsay/cows/hellokitty.cow
node_modules/cowsay/cows/hippie.cow
node_modules/cowsay/cows/hiya.cow
node_modules/cowsay/cows/hiyoko.cow
node_modules/cowsay/cows/homer.cow
node_modules/cowsay/cows/hypno.cow
node_modules/cowsay/cows/ibm.cow
node_modules/cowsay/cows/iwashi.cow
node_modules/cowsay/cows/jellyfish.cow
node_modules/cowsay/cows/karl_marx.cow
node_modules/cowsay/cows/kilroy.cow
node_modules/cowsay/cows/king.cow
node_modules/cowsay/cows/kiss.cow
node_modules/cowsay/cows/kitten.cow
node_modules/cowsay/cows/kitty.cow
node_modules/cowsay/cows/knight.cow
node_modules/cowsay/cows/koala.cow
node_modules/cowsay/cows/kosh.cow
node_modules/cowsay/cows/lamb.cow
node_modules/cowsay/cows/lamb2.cow
node_modules/cowsay/cows/lightbulb.cow
node_modules/cowsay/cows/lobster.cow
node_modules/cowsay/cows/lollerskates.cow
node_modules/cowsay/cows/luke-koala.cow
node_modules/cowsay/cows/mailchimp.cow
node_modules/cowsay/cows/maze-runner.cow
node_modules/cowsay/cows/mech-and-cow.cow
node_modules/cowsay/cows/meow.cow
node_modules/cowsay/cows/milk.cow
node_modules/cowsay/cows/minotaur.cow
node_modules/cowsay/cows/mona-lisa.cow
node_modules/cowsay/cows/moofasa.cow
node_modules/cowsay/cows/mooghidjirah.cow
node_modules/cowsay/cows/moojira.cow
node_modules/cowsay/cows/moose.cow
node_modules/cowsay/cows/mule.cow
node_modules/cowsay/cows/mutilated.cow
node_modules/cowsay/cows/nyan.cow
node_modules/cowsay/cows/octopus.cow
node_modules/cowsay/cows/okazu.cow
node_modules/cowsay/cows/owl.cow
node_modules/cowsay/cows/pawn.cow
node_modules/cowsay/cows/periodic-table.cow
node_modules/cowsay/cows/personality-sphere.cow
node_modules/cowsay/cows/pinball-machine.cow
node_modules/cowsay/cows/psychiatrichelp.cow
node_modules/cowsay/cows/psychiatrichelp2.cow
node_modules/cowsay/cows/pterodactyl.cow
node_modules/cowsay/cows/queen.cow
node_modules/cowsay/cows/R2-D2.cow
node_modules/cowsay/cows/radio.cow
node_modules/cowsay/cows/ren.cow
node_modules/cowsay/cows/renge.cow
node_modules/cowsay/cows/robot.cow
node_modules/cowsay/cows/robotfindskitten.cow
node_modules/cowsay/cows/roflcopter.cow
node_modules/cowsay/cows/rook.cow
node_modules/cowsay/cows/sachiko.cow
node_modules/cowsay/cows/satanic.cow
node_modules/cowsay/cows/seahorse-big.cow
node_modules/cowsay/cows/seahorse.cow
node_modules/cowsay/cows/sheep.cow
node_modules/cowsay/cows/shikato.cow
node_modules/cowsay/cows/shrug.cow
node_modules/cowsay/cows/skeleton.cow
node_modules/cowsay/cows/small.cow
node_modules/cowsay/cows/smiling-octopus.cow
node_modules/cowsay/cows/snoopy.cow
node_modules/cowsay/cows/snoopyhouse.cow
node_modules/cowsay/cows/snoopysleep.cow
node_modules/cowsay/cows/spidercow.cow
node_modules/cowsay/cows/squid.cow
node_modules/cowsay/cows/squirrel.cow
node_modules/cowsay/cows/stegosaurus.cow
node_modules/cowsay/cows/stimpy.cow
node_modules/cowsay/cows/sudowoodo.cow
node_modules/cowsay/cows/supermilker.cow
node_modules/cowsay/cows/surgery.cow
node_modules/cowsay/cows/tableflip.cow
node_modules/cowsay/cows/taxi.cow
node_modules/cowsay/cows/telebears.cow
node_modules/cowsay/cows/template.cow
node_modules/cowsay/cows/threader.cow
node_modules/cowsay/cows/threecubes.cow
node_modules/cowsay/cows/toaster.cow
node_modules/cowsay/cows/tortoise.cow
node_modules/cowsay/cows/turkey.cow
node_modules/cowsay/cows/turtle.cow
node_modules/cowsay/cows/tux-big.cow
node_modules/cowsay/cows/tux.cow
node_modules/cowsay/cows/tweety-bird.cow
node_modules/cowsay/cows/USA.cow
node_modules/cowsay/cows/vader-koala.cow
node_modules/cowsay/cows/vader.cow
node_modules/cowsay/cows/weeping-angel.cow
node_modules/cowsay/cows/whale.cow
node_modules/cowsay/cows/wizard.cow
node_modules/cowsay/cows/wood.cow
node_modules/cowsay/cows/world.cow
node_modules/cowsay/cows/www.cow
node_modules/cowsay/cows/yasuna_01.cow
node_modules/cowsay/cows/yasuna_02.cow
node_modules/cowsay/cows/yasuna_03.cow
node_modules/cowsay/cows/yasuna_03a.cow
node_modules/cowsay/cows/yasuna_04.cow
node_modules/cowsay/cows/yasuna_05.cow
node_modules/cowsay/cows/yasuna_06.cow
node_modules/cowsay/cows/yasuna_07.cow
node_modules/cowsay/cows/yasuna_08.cow
node_modules/cowsay/cows/yasuna_09.cow
node_modules/cowsay/cows/yasuna_10.cow
node_modules/cowsay/cows/yasuna_11.cow
node_modules/cowsay/cows/yasuna_12.cow
node_modules/cowsay/cows/yasuna_13.cow
node_modules/cowsay/cows/yasuna_14.cow
node_modules/cowsay/cows/yasuna_16.cow
node_modules/cowsay/cows/yasuna_17.cow
node_modules/cowsay/cows/yasuna_18.cow
node_modules/cowsay/cows/yasuna_19.cow
node_modules/cowsay/cows/yasuna_20.cow
node_modules/cowsay/cows/ymd_udon.cow
node_modules/cowsay/cows/zen-noh-milk.cow
node_modules/cowsay/lib/balloon.js
node_modules/cowsay/lib/cows.js
node_modules/cowsay/lib/faces.js
node_modules/cowsay/lib/replacer.js
node_modules/decamelize/index.js
node_modules/decamelize/license
node_modules/decamelize/package.json
node_modules/decamelize/readme.md
node_modules/emoji-regex/index.d.ts
node_modules/emoji-regex/index.js
node_modules/emoji-regex/LICENSE-MIT.txt
node_modules/emoji-regex/package.json
node_modules/emoji-regex/README.md
node_modules/emoji-regex/text.js
node_modules/emoji-regex/es2015/index.js
node_modules/emoji-regex/es2015/text.js
node_modules/find-up/index.d.ts
node_modules/find-up/index.js
node_modules/find-up/license
node_modules/find-up/package.json
node_modules/find-up/readme.md
node_modules/get-caller-file/index.d.ts
node_modules/get-caller-file/index.js
node_modules/get-caller-file/index.js.map
node_modules/get-caller-file/LICENSE.md
node_modules/get-caller-file/package.json
node_modules/get-caller-file/README.md
node_modules/get-stdin/index.d.ts
node_modules/get-stdin/index.js
node_modules/get-stdin/license
node_modules/get-stdin/package.json
node_modules/get-stdin/readme.md
node_modules/is-fullwidth-code-point/index.js
node_modules/is-fullwidth-code-point/license
node_modules/is-fullwidth-code-point/package.json
node_modules/is-fullwidth-code-point/readme.md
node_modules/locate-path/index.d.ts
node_modules/locate-path/index.js
node_modules/locate-path/license
node_modules/locate-path/package.json
node_modules/locate-path/readme.md
node_modules/p-limit/index.d.ts
node_modules/p-limit/index.js
node_modules/p-limit/license
node_modules/p-limit/package.json
node_modules/p-limit/readme.md
node_modules/p-locate/index.d.ts
node_modules/p-locate/index.js
node_modules/p-locate/license
node_modules/p-locate/package.json
node_modules/p-locate/readme.md
node_modules/p-try/index.d.ts
node_modules/p-try/index.js
node_modules/p-try/license
node_modules/p-try/package.json
node_modules/p-try/readme.md
node_modules/path-exists/index.d.ts
node_modules/path-exists/index.js
node_modules/path-exists/license
node_modules/path-exists/package.json
node_modules/path-exists/readme.md
node_modules/require-directory/.jshintrc
node_modules/require-directory/.npmignore
node_modules/require-directory/.travis.yml
node_modules/require-directory/index.js
node_modules/require-directory/LICENSE
node_modules/require-directory/package.json
node_modules/require-directory/README.markdown
node_modules/require-main-filename/CHANGELOG.md
node_modules/require-main-filename/index.js
node_modules/require-main-filename/LICENSE.txt
node_modules/require-main-filename/package.json
node_modules/require-main-filename/README.md
node_modules/set-blocking/CHANGELOG.md
node_modules/set-blocking/index.js
node_modules/set-blocking/LICENSE.txt
node_modules/set-blocking/package.json
node_modules/set-blocking/README.md
node_modules/string-width/index.js
node_modules/string-width/license
node_modules/string-width/package.json
node_modules/string-width/readme.md
node_modules/strip-ansi/index.js
node_modules/strip-ansi/license
node_modules/strip-ansi/package.json
node_modules/strip-ansi/readme.md
node_modules/strip-final-newline/index.js
node_modules/strip-final-newline/license
node_modules/strip-final-newline/package.json
node_modules/strip-final-newline/readme.md
node_modules/which-module/index.js
node_modules/which-module/LICENSE
node_modules/which-module/package.json
node_modules/which-module/README.md
node_modules/wrap-ansi/index.js
node_modules/wrap-ansi/license
node_modules/wrap-ansi/package.json
node_modules/wrap-ansi/readme.md
node_modules/wrap-ansi/node_modules/ansi-regex/index.d.ts
node_modules/wrap-ansi/node_modules/ansi-regex/index.js
node_modules/wrap-ansi/node_modules/ansi-regex/license
node_modules/wrap-ansi/node_modules/ansi-regex/package.json
node_modules/wrap-ansi/node_modules/ansi-regex/readme.md
node_modules/wrap-ansi/node_modules/is-fullwidth-code-point/index.d.ts
node_modules/wrap-ansi/node_modules/is-fullwidth-code-point/index.js
node_modules/wrap-ansi/node_modules/is-fullwidth-code-point/license
node_modules/wrap-ansi/node_modules/is-fullwidth-code-point/package.json
node_modules/wrap-ansi/node_modules/is-fullwidth-code-point/readme.md
node_modules/wrap-ansi/node_modules/string-width/index.d.ts
node_modules/wrap-ansi/node_modules/string-width/index.js
node_modules/wrap-ansi/node_modules/string-width/license
node_modules/wrap-ansi/node_modules/string-width/package.json
node_modules/wrap-ansi/node_modules/string-width/readme.md
node_modules/wrap-ansi/node_modules/strip-ansi/index.d.ts
node_modules/wrap-ansi/node_modules/strip-ansi/index.js
node_modules/wrap-ansi/node_modules/strip-ansi/license
node_modules/wrap-ansi/node_modules/strip-ansi/package.json
node_modules/wrap-ansi/node_modules/strip-ansi/readme.md
node_modules/y18n/CHANGELOG.md
node_modules/y18n/index.js
node_modules/y18n/LICENSE
node_modules/y18n/package.json
node_modules/y18n/README.md
node_modules/yargs/CHANGELOG.md
node_modules/yargs/index.js
node_modules/yargs/LICENSE
node_modules/yargs/package.json
node_modules/yargs/README.md
node_modules/yargs/yargs.js
node_modules/yargs/build/lib/apply-extends.d.ts
node_modules/yargs/build/lib/apply-extends.js
node_modules/yargs/build/lib/argsert.d.ts
node_modules/yargs/build/lib/argsert.js
node_modules/yargs/build/lib/command.d.ts
node_modules/yargs/build/lib/command.js
node_modules/yargs/build/lib/common-types.d.ts
node_modules/yargs/build/lib/common-types.js
node_modules/yargs/build/lib/completion-templates.d.ts
node_modules/yargs/build/lib/completion-templates.js
node_modules/yargs/build/lib/completion.d.ts
node_modules/yargs/build/lib/completion.js
node_modules/yargs/build/lib/is-promise.d.ts
node_modules/yargs/build/lib/is-promise.js
node_modules/yargs/build/lib/levenshtein.d.ts
node_modules/yargs/build/lib/levenshtein.js
node_modules/yargs/build/lib/middleware.d.ts
node_modules/yargs/build/lib/middleware.js
node_modules/yargs/build/lib/obj-filter.d.ts
node_modules/yargs/build/lib/obj-filter.js
node_modules/yargs/build/lib/parse-command.d.ts
node_modules/yargs/build/lib/parse-command.js
node_modules/yargs/build/lib/process-argv.d.ts
node_modules/yargs/build/lib/process-argv.js
node_modules/yargs/build/lib/usage.d.ts
node_modules/yargs/build/lib/usage.js
node_modules/yargs/build/lib/validation.d.ts
node_modules/yargs/build/lib/validation.js
node_modules/yargs/build/lib/yargs.d.ts
node_modules/yargs/build/lib/yargs.js
node_modules/yargs/build/lib/yerror.d.ts
node_modules/yargs/build/lib/yerror.js
node_modules/yargs/locales/be.json
node_modules/yargs/locales/de.json
node_modules/yargs/locales/en.json
node_modules/yargs/locales/es.json
node_modules/yargs/locales/fi.json
node_modules/yargs/locales/fr.json
node_modules/yargs/locales/hi.json
node_modules/yargs/locales/hu.json
node_modules/yargs/locales/id.json
node_modules/yargs/locales/it.json
node_modules/yargs/locales/ja.json
node_modules/yargs/locales/ko.json
node_modules/yargs/locales/nb.json
node_modules/yargs/locales/nl.json
node_modules/yargs/locales/nn.json
node_modules/yargs/locales/pirate.json
node_modules/yargs/locales/pl.json
node_modules/yargs/locales/pt_BR.json
node_modules/yargs/locales/pt.json
node_modules/yargs/locales/ru.json
node_modules/yargs/locales/th.json
node_modules/yargs/locales/tr.json
node_modules/yargs/locales/zh_CN.json
node_modules/yargs/locales/zh_TW.json
node_modules/yargs/node_modules/ansi-regex/index.d.ts
node_modules/yargs/node_modules/ansi-regex/index.js
node_modules/yargs/node_modules/ansi-regex/license
node_modules/yargs/node_modules/ansi-regex/package.json
node_modules/yargs/node_modules/ansi-regex/readme.md
node_modules/yargs/node_modules/is-fullwidth-code-point/index.d.ts
node_modules/yargs/node_modules/is-fullwidth-code-point/index.js
node_modules/yargs/node_modules/is-fullwidth-code-point/license
node_modules/yargs/node_modules/is-fullwidth-code-point/package.json
node_modules/yargs/node_modules/is-fullwidth-code-point/readme.md
node_modules/yargs/node_modules/string-width/index.d.ts
node_modules/yargs/node_modules/string-width/index.js
node_modules/yargs/node_modules/string-width/license
node_modules/yargs/node_modules/string-width/package.json
node_modules/yargs/node_modules/string-width/readme.md
node_modules/yargs/node_modules/strip-ansi/index.d.ts
node_modules/yargs/node_modules/strip-ansi/index.js
node_modules/yargs/node_modules/strip-ansi/license
node_modules/yargs/node_modules/strip-ansi/package.json
node_modules/yargs/node_modules/strip-ansi/readme.md
node_modules/yargs-parser/CHANGELOG.md
node_modules/yargs-parser/index.js
node_modules/yargs-parser/LICENSE.txt
node_modules/yargs-parser/package.json
node_modules/yargs-parser/README.md
node_modules/yargs-parser/lib/tokenize-arg-string.js
